<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01//EN' 'http://www.w3.org/tr/html4/strict.dtd'> 
<html lang="zh-tw"> 
<head> 
<title>%(title)s</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<style type="text/css">
h1 {font-size:36pt;text-align:center}
#clock {font-size:36pt;text-align:center}
</style>
<script type="text/javascript">
/* showClock() function extracts the current time hours, 
   minutes and seconds and then displays them in the div 
   with clock_text id from the BODY section */

function showClock()
{
    var clock=new Date();
    var hours=clock.getHours();
    var minutes=clock.getMinutes();
    var seconds=clock.getSeconds();
    // for a nice disply we'll add a zero before the numbers between 0 and 9
    if (hours<10){
        hours="0" + hours;
    }
    if (minutes<10){
        minutes="0" + minutes;
    }
    if (seconds<10){
        seconds="0" + seconds;
    }
    document.getElementById('clock_text').innerHTML=hours+":"+minutes+":"+seconds;
    t=setTimeout('showClock()',500);
    /* setTimeout() JavaScript method is used to call showClock() 
    every 1000 milliseconds (that means exactly 1 second) */
    }
</script>
</head>
<body onload="showClock()">
<h1>%(title)s</h1>
<div id="clock">目前時間：<span id="clock_text"></span></div>
<div id="content">
%(content)s
</div>
</body>
</html>
